<ion-app>
  <ion-menu-toggle autoHide="true" menu="main">
    <ion-menu side="start" menuId="main" contentId="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>My App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let p of appPages; let i = index" (click)="selectedIndex = i"
            routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" 
            [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
